#signup > .container > img.logo
  margin-top:         1.2em
  margin-bottom:      2em

.redtest
  color:            red

.nav-tabs > li > a
  color:                    $gray

.nav-tabs > li.active > a.signup
  border:                 0!important
  border-radius:          2px
  color:                  $white
  background-color:       $brand-primary

  &:hover,
  &:focus
    border:                 0
    border-radius:          2px
    color:                  $white
    background-color:       $brand-primary

