Stackademy.com looks great thanks to the following components, used under a Creative Commons BY-SA 3.0 license
http://creativecommons.org/licenses/by-sa/3.0/

Entypo pictograms by Daniel Bruce — www.entypo.com

Background patterns via Atle Mo - www.subtlepatterns.com


Icon fonts used under the SIL Open Font License
http://scripts.sil.org/OFL

Font Awesome
(c) 2012 Dave Gandy
http://fortawesome.github.com/Font-Awesome/

Typicons
(c) 2012 Stephen Hutchings
http://typicons.com/


content: '\e802';


Set up iconfont:
In stylesheets/iconfont.css, change url to:

  font-family: 'iconfont';
  src: url('fonts/iconfont/iconfont.eot?49701702');
  src: url('fonts/iconfont/iconfont.eot?49701702#iefix') format('embedded-opentype'),
       url('fonts/iconfont/iconfont.woff?49701702') format('woff'),
       url('fonts/iconfont/iconfont.ttf?49701702') format('truetype'),
       url('fonts/iconfont/iconfont.svg?49701702#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;