/ %nav.navbar.navbar-default.navbar-fixed-top{ :role => "navigation" }
%nav.navbar.navbar-default{ :role => "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.logo-wrapper{ :href => "/", :alt => "Stackademy" }
        %img{:src => "img/stckstwh.svg", :alt => "Stackademy", :class => "logo"}

    / Full menu
    .topnav.collapse.navbar-collapse#navbar-collapse
      %ul.nav.navbar-right.navbar-highlight
        %li 
          %a{ :href => "apply.html", :class => "btn-navbar" } Apply!
      %ul.nav.navbar-nav.navbar-right
        %li.border-bottom
          %a{:href => "http://blog.stackademy.com", :class => "navlink" } Blog
        %li.border-bottom
          %a{:href => "about.html", :class => "navlink" } About    
        %li.border-bottom
          %a{:href => "faq.html", :class => "navlink" } FAQs
        %li.border-bottom.dropdown
          %a(href="#" class="navlink dropdown-toggle" data-toggle="dropdown") Our programs <b class="caret"></b>
          %ul.dropdown-menu
            %li 
              %a{:href => "#", :class => "link-collapse" } Web Application Development
            %li 
              %a{:href => "#", :class => "link-collapse" } iOS Development
            %li 
              %a{:href => "#", :class => "link-collapse" } Corporate Training     