.pagewrapper
  %header
    = render '_navbarmain.html.haml'

  %section.pagesection
    .container
      .row
        .col-md-3
          = render '_sidebar.html.haml'
        .col-md-8.cushion.border-left.padding-left
          %h3.pagetitle About us
          .pagecontent
            %p To Sherlock Holmes she is always the woman. I have seldom heard him mention her under any other name. In his eyes she eclipses and predominates the whole of her sex. It was not that he felt any emotion akin to love for Irene Adler. All emotions, and that one particularly, were abhorrent to his cold, precise but admirably balanced mind. He was, I take it, the most perfect reasoning and observing machine that the world has seen, but as a lover he would have placed himself in a false position. He never spoke of the softer passions, save with a gibe and a sneer. They were admirable things for the observer—excellent for drawing the veil from men’s motives and actions. But for the trained reasoner to admit such intrusions into his own delicate and finely adjusted temperament was to introduce a distracting factor which might throw a doubt upon all his mental results. Grit in a sensitive instrument, or a crack in one of his own high-power lenses, would not be more disturbing than a strong emotion in a nature such as his. And yet there was but one woman to him, and that woman was the late Irene Adler, of dubious and questionable memory. 
            %br/
            I had seen little of Holmes lately. My marriage had drifted us away from each other. My own complete happiness, and the home-centred interests which rise up around the man who first finds himself master of his own establishment, were sufficient to absorb all my attention, while Holmes, who loathed every form of society with his whole Bohemian soul, remained in our lodgings in Baker Street, buried among his old books, and alternating from week to week between cocaine and ambition, the drowsiness of the drug, and the fierce energy of his own keen nature. He was still, as ever, deeply attracted by the study of crime, and occupied his immense faculties and extraordinary powers of observation in following out those clues, and clearing up those mysteries which had been abandoned as hopeless by the official police. From time to time I heard some vague account of his doings: of his summons to Odessa in the case of the Trepoff murder, of his clearing up of the singular tragedy of the Atkinson brothers at Trincomalee, and finally of the mission which he had accomplished so delicately and successfully for the reigning family of Holland. Beyond these signs of his activity, however, which I merely shared with all the readers of the daily press, I knew little of my former friend and companion.

  .imagewrapper
    %section.contact
      .container
        .inner-border
          .row.inner-text
            More questions? Reach us at
            <script type="text/javascript">eval(unescape("%68%66%70%79%74%32%31%3d%5b%27%25%36%38%25%36%35%25%36%63%25%36%63%25%36%66%27%2c%5b%27%25%36%33%25%36%66%25%36%64%27%2c%27%25%37%33%25%37%34%25%36%31%25%36%33%25%36%62%25%36%31%25%36%34%25%36%35%25%36%64%25%37%39%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%69%69%69%79%69%32%34%3d%75%6e%65%73%63%61%70%65%28%68%66%70%79%74%32%31%29%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%69%69%69%79%69%32%34%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%68%66%70%79%74%32%31%29%29%3b"));</script>
  %footer= render '_footer.html.haml'