---
title: Signup information | Stackademy
---

%section#signup
  .container
    = image_tag "stckst.svg", class: "logo", alt: "Stackademy"
    %h3 Signup information
    .row
      .col-md-3
        .nav-wrapper
          %ul.nav.nav-tabs.nav-stacked.nav-noborder#myTab{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a(href="#home" role="tab" data-toggle="tab" class="signup") Home
            %li{:role => "presentation"}
              %a(href="#profile" role="tab" data-toggle="tab" class="signup") Profile
            %li{:role => "presentation"}
              %a(href="#messages" role="tab" data-toggle="tab" class="signup") Messages
            %li{:role => "presentation"}
              %a(href="#settings" role="tab" data-toggle="tab" class="signup") Settings
      .col-md-9   
        .tab-content
          .tab-pane.active#home{:role => "tabpanel"}
            Here be more text.
          .tab-pane#profile{:role => "tabpanel"}
            Profile text.
          .tab-pane#messages{:role => "tabpanel"}
            Messages text.
          .tab-pane#settings{:role => "tabpanel"}
            Settings text.

= partial 'footer'